###############################################################################
# Makefile for the project LiteOS
###############################################################################

## General Flags
PROJECT = LiteOS
MCU = atmega128
TARGET = LiteOS.elf
CC = avr-gcc

CPP = avr-g++

## Options common to compile, link and assembly rules
COMMON = -mmcu=$(MCU)

## Compile options common for all C compilation units.
CFLAGS = $(COMMON)
CFLAGS += -Wall -gdwarf-2 -DPLATFORM_AVR -DRADIO_CC2420 -DAVR_STACK_PREPARE_LENGTH=34 -DFILE_SYS_RANGE=32 -DPRINT_SOURCE_ENABLED -DF_CPU=8000000UL -Os -fsigned-char  
CFLAGS +=  -DMAX_FILE_TABLE_SIZE=2 -DLITE_MAX_THREADS=3 -DBOOTLOADERSIZE=512 -DJTAG_TOGGLE=1 -DNUM_BREAKPOINTS=3 -DMAX_MSG_LENGTH=32 -DCOMMON_SHARE_SCHEDULING
CFLAGS += -MD -MP -MT $(*F).o -MF dep/$(@F).d 

## Assembly specific flags
ASMFLAGS = $(COMMON)
ASMFLAGS += $(CFLAGS)
ASMFLAGS += -x assembler-with-cpp -Wa,-gdwarf2

## Linker flags
LDFLAGS = $(COMMON)
LDFLAGS +=  -Wl,-Map=LiteOS.map
LDFLAGS += -Wl,-section-start=.bootloader=0x1e000
LDFLAGS += -Wl,-section-start=.systemcall.1=0x1d400
LDFLAGS += -Wl,-section-start=.systemcall.2=0x1d500
LDFLAGS += -Wl,-section-start=.systemcall.3=0x1d600
LDFLAGS += -Wl,-section-start=.systemcall.4=0x1d700
LDFLAGS += -Wl,-section-start=.systemcall.5=0x1d800
LDFLAGS += -Wl,-section-start=.systemcall.6=0x1d900
LDFLAGS += -Wl,-section-start=.systemcall.7=0x1da00
LDFLAGS += -Wl,-section-start=.systemcall.8=0x1db00
LDFLAGS += -Wl,-section-start=.systemcall.9=0x1dc00
LDFLAGS += -Wl,-section-start=.systemcall.10=0x1dd00
LDFLAGS += -Wl,-section-start=.systemcall.11=0x1de00


## Intel Hex file production flags
HEX_FLASH_FLAGS = -R .eeprom -R .fuse -R .lock -R .signature

HEX_EEPROM_FLAGS = -j .eeprom
HEX_EEPROM_FLAGS += --set-section-flags=.eeprom="alloc,load"
HEX_EEPROM_FLAGS += --change-section-lma .eeprom=0 --no-change-warnings


## Objects that must be built in order to link
OBJECTS = realmain.o bootloader.o nodeconfig.o avrhardware.o micazhardware.o serialprint.o stdserial.o amradio.o packethandler.o cc2420controlm.o cc2420radiom.o hplcc2420fifom.o hplcc2420interruptm.o hplcc2420m.o hpltimer1.o scheduling.o threaddata.o threadkernel.o threadtools.o adcdriver.o leds.o sounder.o bytestorage.o ioeeprom.o fs_structure.o fsapi.o fsconfig.o fsstring.o inode.o stdfsa.o vectorflash.o vectornode.o atmelflash.o pagestorage.o clockraw.o generictimer.o globaltiming.o timerraw.o byteorder.o string.o types.o math.o commandhandle.o socket.o adcsocket.o eepromsocket.o filesocket.o radiocontrol.o syscall.o threadsyscall.o eventlogger.o libadc.o libeeprom.o libfile.o libleds.o libradio.o libserial.o libsounder.o libstring.o libsystem.o libthread.o libmutex.o threadmodel.o
#OBJECTS += counterToRfm.o
OBJECTS += logger.o

## Objects explicitly added by the user
LINKONLYOBJECTS = 

## Build
all: $(TARGET) LiteOS.hex LiteOS.eep LiteOS.lss size

## Compile
realmain.o: ../../../SourceCode/LiteOS_Kernel/entry/realmain.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

bootloader.o: ../../../SourceCode/LiteOS_Kernel/bootloader/bootloader.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

nodeconfig.o: ../../../SourceCode/LiteOS_Kernel/config/nodeconfig.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

avrhardware.o: ../../../SourceCode/LiteOS_Kernel/hardware/avrhardware.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

micazhardware.o: ../../../SourceCode/LiteOS_Kernel/hardware/micaz/micazhardware.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

serialprint.o: ../../../SourceCode/LiteOS_Kernel/io/avrserial/serialprint.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

stdserial.o: ../../../SourceCode/LiteOS_Kernel/io/serial/stdserial.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

amradio.o: ../../../SourceCode/LiteOS_Kernel/io/radio/amradio.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

packethandler.o: ../../../SourceCode/LiteOS_Kernel/io/radio/packethandler.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

cc2420controlm.o: ../../../SourceCode/LiteOS_Kernel/io/cc2420/cc2420controlm.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

cc2420radiom.o: ../../../SourceCode/LiteOS_Kernel/io/cc2420/cc2420radiom.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

hplcc2420fifom.o: ../../../SourceCode/LiteOS_Kernel/io/cc2420/hplcc2420fifom.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

hplcc2420interruptm.o: ../../../SourceCode/LiteOS_Kernel/io/cc2420/hplcc2420interruptm.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

hplcc2420m.o: ../../../SourceCode/LiteOS_Kernel/io/cc2420/hplcc2420m.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

hpltimer1.o: ../../../SourceCode/LiteOS_Kernel/io/cc2420/hpltimer1.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

scheduling.o: ../../../SourceCode/LiteOS_Kernel/kernel/scheduling.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

threaddata.o: ../../../SourceCode/LiteOS_Kernel/kernel/threaddata.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

threadkernel.o: ../../../SourceCode/LiteOS_Kernel/kernel/threadkernel.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

threadtools.o: ../../../SourceCode/LiteOS_Kernel/kernel/threadtools.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

adcdriver.o: ../../../SourceCode/LiteOS_Kernel/sensors/adcdriver.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

leds.o: ../../../SourceCode/LiteOS_Kernel/sensors/leds.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

sounder.o: ../../../SourceCode/LiteOS_Kernel/sensors/sounder.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

bytestorage.o: ../../../SourceCode/LiteOS_Kernel/storage/bytestorage/bytestorage.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

ioeeprom.o: ../../../SourceCode/LiteOS_Kernel/storage/eeprom/ioeeprom.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

fs_structure.o: ../../../SourceCode/LiteOS_Kernel/storage/filesys/fs_structure.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

fsapi.o: ../../../SourceCode/LiteOS_Kernel/storage/filesys/fsapi.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

fsconfig.o: ../../../SourceCode/LiteOS_Kernel/storage/filesys/fsconfig.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

fsstring.o: ../../../SourceCode/LiteOS_Kernel/storage/filesys/fsstring.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

inode.o: ../../../SourceCode/LiteOS_Kernel/storage/filesys/inode.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

stdfsa.o: ../../../SourceCode/LiteOS_Kernel/storage/filesys/stdfsa.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

vectorflash.o: ../../../SourceCode/LiteOS_Kernel/storage/filesys/vectorflash.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

vectornode.o: ../../../SourceCode/LiteOS_Kernel/storage/filesys/vectornode.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

atmelflash.o: ../../../SourceCode/LiteOS_Kernel/storage/flash/atmelflash.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

pagestorage.o: ../../../SourceCode/LiteOS_Kernel/storage/flash/pagestorage.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

clockraw.o: ../../../SourceCode/LiteOS_Kernel/timer/clockraw.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

generictimer.o: ../../../SourceCode/LiteOS_Kernel/timer/generictimer.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

globaltiming.o: ../../../SourceCode/LiteOS_Kernel/timer/globaltiming.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

timerraw.o: ../../../SourceCode/LiteOS_Kernel/timer/timerraw.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

byteorder.o: ../../../SourceCode/LiteOS_Kernel/types/byteorder.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

string.o: ../../../SourceCode/LiteOS_Kernel/types/string.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

types.o: ../../../SourceCode/LiteOS_Kernel/types/types.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

math.o: ../../../SourceCode/LiteOS_Kernel/utilities/math.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

commandhandle.o: ../../../SourceCode/LiteOS_Kernel/shell/commandhandle.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

socket.o: ../../../SourceCode/LiteOS_Kernel/io/radio/socket.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

adcsocket.o: ../../../SourceCode/LiteOS_Kernel/syscall/adcsocket.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

eepromsocket.o: ../../../SourceCode/LiteOS_Kernel/syscall/eepromsocket.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

filesocket.o: ../../../SourceCode/LiteOS_Kernel/syscall/filesocket.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

radiocontrol.o: ../../../SourceCode/LiteOS_Kernel/syscall/radiocontrol.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

syscall.o: ../../../SourceCode/LiteOS_Kernel/syscall/syscall.c
	$(CC) $(INCLUDES) $(CFLAGS) -c -O0 $<

threadsyscall.o: ../../../SourceCode/LiteOS_Kernel/syscall/threadsyscall.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

eventlogger.o: ../../../SourceCode/LiteOS_Kernel/debugging/eventlogger.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libadc.o: ../../../SourceCode/LiteOS_Kernel/libraries/libadc.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libeeprom.o: ../../../SourceCode/LiteOS_Kernel/libraries/libeeprom.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libfile.o: ../../../SourceCode/LiteOS_Kernel/libraries/libfile.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libleds.o: ../../../SourceCode/LiteOS_Kernel/libraries/libleds.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libradio.o: ../../../SourceCode/LiteOS_Kernel/libraries/libradio.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libserial.o: ../../../SourceCode/LiteOS_Kernel/libraries/libserial.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libsounder.o: ../../../SourceCode/LiteOS_Kernel/libraries/libsounder.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libstring.o: ../../../SourceCode/LiteOS_Kernel/libraries/libstring.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libsystem.o: ../../../SourceCode/LiteOS_Kernel/libraries/libsystem.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libthread.o: ../../../SourceCode/LiteOS_Kernel/libraries/libthread.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

libmutex.o: ../../../SourceCode/LiteOS_Kernel/libraries/libmutex.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

threadmodel.o: ../../../SourceCode/LiteOS_Kernel/kernel/threadmodel.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<
	
logger.o: ../../../SourceCode/LiteOS_Kernel/apps/RLogger/logger.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

#counterToRfm.o: ../../../SourceCode/LiteOS_Kernel/apps/CounterToRfm/counterToRfm.c
#	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

#HelloWorld.o: ../../../SourceCode/LiteOS_Kernel/apps/HelloWorld/HelloWorld.c
	#$(CC) $(INCLUDES) $(CFLAGS) -c  $<
 
#cal.o: ../../../SourceCode/LiteOS_Kernel/apps/TestCode/cal.c
#	$(CC) $(INCLUDES) $(CFLAGS) -c  $<
	
	
##Link
$(TARGET): $(OBJECTS)
	 $(CC) $(LDFLAGS) $(OBJECTS) $(LINKONLYOBJECTS) $(LIBDIRS) $(LIBS) -o $(TARGET)

%.hex: $(TARGET)
	avr-objcopy -O ihex $(HEX_FLASH_FLAGS)  $< $@

%.eep: $(TARGET)
	-avr-objcopy $(HEX_EEPROM_FLAGS) -O ihex $< $@ || exit 0

%.lss: $(TARGET)
	avr-objdump -h -S $< > $@

size: ${TARGET}
	@echo
	@avr-size -C --mcu=${MCU} ${TARGET}

## Clean target
.PHONY: clean
clean:
	-rm -rf $(OBJECTS) LiteOS.elf dep/* LiteOS.hex LiteOS.eep LiteOS.lss LiteOS.map


## Other dependencies
-include $(shell mkdir dep 2>NUL) $(wildcard dep/*)

