###############################################################################
# Makefile for the project LiteOS
###############################################################################

## General Flags
PROJECT = LiteOS
MCU = atmega128
TARGET = LiteOS.elf
CC = C:/WinAVR/bin/avr-gcc.exe
AVR-SIZE = C:/WinAVR/bin/avr-size.exe
## Options common to compile, link and assembly rules
COMMON = -mmcu=$(MCU)

## Compile options common for all C compilation units.
CFLAGS = $(COMMON)
CFLAGS += -Wall -gdwarf-2          -DPLATFORM_AVR  -DRADIO_CC2420     -DF_CPU=8000000UL -O0 -fsigned-char
CFLAGS += -MD -MP -MT $(*F).o -MF dep/$(@F).d 

## Assembly specific flags
ASMFLAGS = $(COMMON)
ASMFLAGS += $(CFLAGS)
ASMFLAGS += -x assembler-with-cpp -Wa,-gdwarf2

## Linker flags
LDFLAGS = $(COMMON)
LDFLAGS +=  -Wl,-Map=LiteOS.map
LDFLAGS += -Wl,-section-start=.bootloader=0x1e000
LDFLAGS += -Wl,-section-start=.systemcall=0x1d400


## Intel Hex file production flags
HEX_FLASH_FLAGS = -R .eeprom

HEX_EEPROM_FLAGS = -j .eeprom
HEX_EEPROM_FLAGS += --set-section-flags=.eeprom="alloc,load"
HEX_EEPROM_FLAGS += --change-section-lma .eeprom=0 --no-change-warnings


## Objects that must be built in order to link
OBJECTS = filesocket.o fs_structure.o fsapi.o fsconfig.o fsstring.o inode.o stdfsa.o vectorflash.o vectornode.o serialprint.o cc2420controlm.o cc2420radiom.o avrhardware.o bootloader.o clockraw.o syscall.o timerraw.o adcdriver.o adcsocket.o atmelflash.o hplcc2420fifom.o hplcc2420interruptm.o hplcc2420m.o hpltimer1.o ioeeprom.o leds.o micazhardware.o realmain.o amradio.o bytestorage.o commandhandle.o generictimer.o nodeconfig.o packethandler.o pagestorage.o scheduling.o socket.o stdserial.o stdserialhandler.o threaddata.o threads.o byteorder.o string.o types.o eventlogger.o math.o 

## Objects explicitly added by the user
LINKONLYOBJECTS = 

## Build
all: $(TARGET) LiteOS.hex LiteOS.eep LiteOS.lss size

## Compile
filesocket.o: ../filesys/filesocket.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

fs_structure.o: ../filesys/fs_structure.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

fsapi.o: ../filesys/fsapi.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

fsconfig.o: ../filesys/fsconfig.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

fsstring.o: ../filesys/fsstring.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

inode.o: ../filesys/inode.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

stdfsa.o: ../filesys/stdfsa.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

vectorflash.o: ../filesys/vectorflash.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

vectornode.o: ../filesys/vectornode.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

serialprint.o: ../io/avr_serial/serialprint.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

cc2420controlm.o: ../io/cc2420/cc2420controlm.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

cc2420radiom.o: ../io/cc2420/cc2420radiom.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

avrhardware.o: ../platform/avr/avrhardware.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

bootloader.o: ../platform/avr/bootloader.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

clockraw.o: ../platform/avr/clockraw.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

syscall.o: ../platform/avr/syscall.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

timerraw.o: ../platform/avr/timerraw.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

adcdriver.o: ../platform/micaz/adcdriver.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

adcsocket.o: ../platform/micaz/adcsocket.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

atmelflash.o: ../platform/micaz/atmelflash.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

hplcc2420fifom.o: ../platform/micaz/hplcc2420fifom.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

hplcc2420interruptm.o: ../platform/micaz/hplcc2420interruptm.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

hplcc2420m.o: ../platform/micaz/hplcc2420m.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

hpltimer1.o: ../platform/micaz/hpltimer1.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

ioeeprom.o: ../platform/micaz/ioeeprom.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

leds.o: ../platform/micaz/leds.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

micazhardware.o: ../platform/micaz/micazhardware.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

realmain.o: ../platform/micaz/realmain.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

amradio.o: ../system/amradio.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

bytestorage.o: ../system/bytestorage.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

commandhandle.o: ../system/commandhandle.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

generictimer.o: ../system/generictimer.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

nodeconfig.o: ../system/nodeconfig.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

packethandler.o: ../system/packethandler.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

pagestorage.o: ../system/pagestorage.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

scheduling.o: ../system/scheduling.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

socket.o: ../system/socket.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

stdserial.o: ../system/stdserial.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

stdserialhandler.o: ../system/stdserialhandler.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

threaddata.o: ../system/threaddata.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

threads.o: ../system/threads.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

byteorder.o: ../types/byteorder.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

string.o: ../types/string.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

types.o: ../types/types.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

eventlogger.o: ../utilities/eventlogger.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

math.o: ../utilities/math.c
	$(CC) $(INCLUDES) $(CFLAGS) -c  $<

##Link
$(TARGET): $(OBJECTS)
	 $(CC) $(LDFLAGS) $(OBJECTS) $(LINKONLYOBJECTS) $(LIBDIRS) $(LIBS) -o $(TARGET)

%.hex: $(TARGET)
	avr-objcopy -O ihex $(HEX_FLASH_FLAGS)  $< $@

%.eep: $(TARGET)
	-avr-objcopy $(HEX_EEPROM_FLAGS) -O ihex $< $@ || exit 0

%.lss: $(TARGET)
	avr-objdump -h -S $< > $@

size: ${TARGET}
	@echo
	$(AVR-SIZE) -C --mcu=${MCU} ${TARGET}

## Clean target
.PHONY: clean
clean:
	-rm -rf $(OBJECTS) LiteOS.elf dep/* LiteOS.hex LiteOS.eep LiteOS.lss LiteOS.map


## Other dependencies
-include $(shell mkdir dep 2>/dev/null) $(wildcard dep/*)

